*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo img{
    width: auto;
    height: 100px;
}

.navlist{
    display: flex;
}
.navlist a{
    color: #1E3D26;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease
}
.navlist a:hover{
    border-bottom: 2px solid #1E3D26;
}

#menu-icon{
    color:#1E3D26;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #f0f0d8 0%, #c0d860 28.53%, #FDF8F2 72.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19% 0 19%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: #1E3D26;
    margin-bottom: 40px;
}
.hero-text h1{
    font-size: 90px;
    line-height: 1;
    color: #1E3D26;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: #1E3D26;
    margin-bottom: 10px;
}
.hero-text p{
    color:#1E3D26;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width: 700px;
    height: auto;
}


.hero-text a{
    display: inline-block;
    color: #F15F26;
    background: #D8CA3C;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;  
    transition: all .55s ease;
}

.hero-text a:hover{
    background:transparent;
    border: 1px solid #F15F26;
    transform: translateX(8px);
}

.hero-text a.ctaa{
    background: transparent;
    border: 1px solid #F15F26;
    margin-left: 20px;
}

.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}





/* ---------------------   sobre nos   --------------------- */
.fotos{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.fotos .fotos-li{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    max-height: 30px;


    box-shadow: 0 1px 8px rgba(0,0,0,0.2);

}

.fotos .fotos-li img{
    height:200px;
    width: auto;
    border-radius: 20px;
    margin: 10px;
}


